@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@



@*<div class="ps-home-banner">
    <div class="ps-carousel--dots owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="off">
        <div class="ps-banner ps-banner--1 bg--cover" data-background="img/banner/home-5/1.jpg">
            <div class="ps-banner__content">
                <h3 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Super Delicious Cakes</h3>
                <p data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">100% Natural, FRESH baked goods</p><a class="ps-btn" href="#" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Order Now</a>
            </div>
        </div>
        <div class="ps-banner ps-banner--1 bg--cover" data-background="img/banner/home-5/2.jpg">
            <div class="ps-banner__content">
                <h3 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Super Delicious Cakes</h3>
                <p data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">100% Natural, FRESH baked goods</p><a class="ps-btn" href="#" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Order Now</a>
            </div>
        </div>
        <div class="ps-banner ps-banner--1 bg--cover" data-background="img/banner/home-5/3.jpg">
            <div class="ps-banner__content">
                <h3 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Super Delicious Cakes</h3>
                <p data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">100% Natural, FRESH baked goods</p><a class="ps-btn" href="#" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Order Now</a>
            </div>
        </div>
    </div>
</div>
<div class="ps-section ps-home-wellcome bg--top" data-background="img/bg/home-5/home-wellcome.png">
    <div class="container">
        <div class="ps-section__header">
            <p>WELCOME TO THE STORE</p>
            <h3>Delicious Means chikery</h3><i class="chikery-tt2"></i>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, <br> sed vel nulla non neque dictum imperdiet.</h5>
        </div>
        <div class="ps-section__footer">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-block--iconbox">
                        <img src="img/homepage/home-5/category-1.png" alt="">
                        <h4>Simple Crusty Bread</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, mollis felis vel, viverra metus.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-block--iconbox">
                        <img src="img/homepage/home-5/category-2.png" alt="">
                        <h4>Big Size Cream Cake</h4>
                        <p>Sit amet cursus nisl aliquam. Aliquam eu nunc rhoncus viverra quis at felis. Lorem ipsum dolor sit amet  ante commodo tristique.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-block--iconbox">
                        <img src="img/homepage/home-5/category-3.png" alt="">
                        <h4>Delicious Chikery</h4>
                        <p>Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-section ps-home-about bg--cover" data-background="img/bg/home-5/home-about.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                <div class="ps-section__header">
                    <p>Our History</p>
                    <h3>Chikery Story</h3><i class="chikery-tt2"></i>
                </div>
                <div class="ps-section__content">
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, mollis felis vel, viverra metus. Sed vel nulla non neque dictum imperdiet hendrerit ”</p>
                    <div class="ps-section__image"><img src="img/homepage/home-1/signature.png" alt=""></div>
                    <h5><span>Marry Lulie</span> - Ceo Chikery</h5>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                <div class="ps-section__image"><img src="img/homepage/home-5/home-about.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
<div class="ps-section ps-home-product">
    <div class="container-fluid">
        <div class="ps-section__header">
            <p>Breads every day</p>
            <h3>New Products</h3><i class="chikery-tt2"></i>
            <h5>Consectetur adipiscing elit. Curabitur sed turpis feugiat,  <br> sed vel nulla non neque dictum imperdiet.</h5>
        </div>
        <div class="ps-section__content">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
                    <div class="ps-product">
                        <div class="ps-product__thumbnail">
                            <img src="img/product/24.png" alt="" /><a class="ps-product__overlay" href="product-default.html"></a><span class="ps-badge ps-badge--sale"><i>30%</i></span>
                        </div>
                        <div class="ps-product__content">
                            <div class="ps-product__desc">
                                <a class="ps-product__title" href="product-default.html">Red sugar flower</a>
                                <p><span>350g</span><span>30 Min</span><span>120 <sup>o</sup>C</span></p><span class="ps-product__price sale"><del>$16.00</del> $12.00</span>
                            </div>
                            <div class="ps-product__shopping">
                                <a class="ps-btn ps-product__add-to-cart" href="#">Add to cart</a>
                                <div class="ps-product__actions"><a href="#"><i class="fa fa-heart-o"></i></a><a href="#"><i class="fa fa-random"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
                    <div class="ps-product">
                        <div class="ps-product__thumbnail">
                            <img src="img/product/18.png" alt="" /><a class="ps-product__overlay" href="product-default.html"></a>
                        </div>
                        <div class="ps-product__content">
                            <div class="ps-product__desc">
                                <a class="ps-product__title" href="product-default.html">Red sugar flower</a>
                                <p><span>350g</span><span>30 Min</span><span>120 <sup>o</sup>C</span></p><span class="ps-product__price">$12.00</span>
                            </div>
                            <div class="ps-product__shopping">
                                <a class="ps-btn ps-product__add-to-cart" href="#">Add to cart</a>
                                <div class="ps-product__actions"><a href="#"><i class="fa fa-heart-o"></i></a><a href="#"><i class="fa fa-random"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
                    <div class="ps-product">
                        <div class="ps-product__thumbnail">
                            <img src="img/product/28.png" alt="" /><a class="ps-product__overlay" href="product-default.html"></a><span class="ps-badge ps-badge--new"><i>New</i></span>
                        </div>
                        <div class="ps-product__content">
                            <div class="ps-product__desc">
                                <a class="ps-product__title" href="product-default.html">Red sugar flower</a>
                                <p><span>350g</span><span>30 Min</span><span>120 <sup>o</sup>C</span></p><span class="ps-product__price">$12.00</span>
                            </div>
                            <div class="ps-product__shopping">
                                <a class="ps-btn ps-product__add-to-cart" href="#">Add to cart</a>
                                <div class="ps-product__actions"><a href="#"><i class="fa fa-heart-o"></i></a><a href="#"><i class="fa fa-random"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
                    <div class="ps-product">
                        <div class="ps-product__thumbnail">
                            <img src="img/product/19.png" alt="" /><a class="ps-product__overlay" href="product-default.html"></a>
                        </div>
                        <div class="ps-product__content">
                            <div class="ps-product__desc">
                                <a class="ps-product__title" href="product-default.html">Red sugar flower</a>
                                <p><span>350g</span><span>30 Min</span><span>120 <sup>o</sup>C</span></p><span class="ps-product__price">$12.00</span>
                            </div>
                            <div class="ps-product__shopping">
                                <a class="ps-btn ps-product__add-to-cart" href="#">Add to cart</a>
                                <div class="ps-product__actions"><a href="#"><i class="fa fa-heart-o"></i></a><a href="#"><i class="fa fa-random"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section__footer"><a class="ps-btn ps-btn--outline" href="#"> All products</a></div>
    </div>
</div>
<div class="ps-section ps-home-awards bg--cover" data-background="img/bg/home-5/home-award.jpg">
    <div class="container">
        <div class="ps-section__header">
            <p>CHIKER STORE</p>
            <h3>Our Awards</h3><i class="chikery-tt2"></i>
        </div>
        <div class="ps-section__content">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-block--award">
                        <div class="ps-block__header">
                            <img src="img/awards/1.png" alt="">
                            <h4>BAKERY OF THE YEAR</h4>
                            <p>1990 - 2010</p>
                        </div>
                        <div class="ps-block__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, mollis felis vel, viverra metus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-block--award">
                        <div class="ps-block__header">
                            <img src="img/awards/2.png" alt="">
                            <h4>BAKERY OF THE YEAR</h4>
                            <p>1990 - 2010</p>
                        </div>
                        <div class="ps-block__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, mollis felis vel, viverra metus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-block--award">
                        <div class="ps-block__header">
                            <img src="img/awards/3.png" alt="">
                            <h4>BAKERY OF THE YEAR</h4>
                            <p>1990 - 2010</p>
                        </div>
                        <div class="ps-block__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, mollis felis vel, viverra metus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-section ps-section--good-baker">
    <div class="container">
        <div class="ps-section__left"><img src="img/homepage/home-5/good-baker.png" alt=""></div>
        <div class="ps-section__right">
            <div class="ps-section__header">
                <p>Our Baker</p>
                <h3>The Good Baker</h3><i class="chikery-tt2"></i>
            </div>
            <div class="ps-section__content">
                <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, mollis felis vel, viverra metus.</p><a class="ps-btn" href="#"> Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="ps-section ps-home-testimonials bg--cover" data-background="img/bg/home-5/home-testimonial.jpg">
    <div class="container">
        <div class="ps-section__content">
            <div class="ps-carousel--dots owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
                <div class="ps-block--testimonial">
                    <div class="ps-block__header"><img src="img/users/1.png" alt=""></div>
                    <div class="ps-block__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, <span class="hightlight">mollis felis vel, viverra metus. </span>Sed vel nulla non neque dictum imperdiet. Aliquam egestas hendrerit euismod.</p>
                    </div>
                    <div class="ps-block__footer">
                        <p>Marry Lulie</p>
                    </div>
                </div>
                <div class="ps-block--testimonial">
                    <div class="ps-block__header"><img src="img/users/1.png" alt=""></div>
                    <div class="ps-block__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, <span class="hightlight">mollis felis vel, viverra metus. </span>Sed vel nulla non neque dictum imperdiet. Aliquam egestas hendrerit euismod.</p>
                    </div>
                    <div class="ps-block__footer">
                        <p>Harold M. Clark</p>
                    </div>
                </div>
                <div class="ps-block--testimonial">
                    <div class="ps-block__header"><img src="img/users/1.png" alt=""></div>
                    <div class="ps-block__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, <span class="hightlight">mollis felis vel, viverra metus. </span>Sed vel nulla non neque dictum imperdiet. Aliquam egestas hendrerit euismod.</p>
                    </div>
                    <div class="ps-block__footer">
                        <p>Timothy A. Mitchell</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-section ps-home-blog">
    <div class="container">
        <div class="ps-section__header">
            <p>Blog & News</p>
            <h3>From Our Archive</h3><i class="chikery-tt2"></i>
        </div>
        <div class="ps-section__content">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-post">
                        <div class="ps-post__thumbnail"><img src="img/blog/home-blog-1.jpg" alt=""><a class="ps-post__overlay" href="blog-detail.html"></a></div>
                        <div class="ps-post__content">
                            <p class="ps-post__meta">March 31, 2019  by<a href="#"> Admin</a></p><a class="ps-post__title" href="blog-detail.html">Duis lacus urna condimentum a vehicula consectetur</a><a class="ps-post__morelink" href="blog-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-post">
                        <div class="ps-post__thumbnail"><img src="img/blog/home-blog-2.jpg" alt=""><a class="ps-post__overlay" href="blog-detail.html"></a></div>
                        <div class="ps-post__content">
                            <p class="ps-post__meta">March 31, 2019  by<a href="#"> Admin</a></p><a class="ps-post__title" href="blog-detail.html">Class aptent taciti sociosqu ad litora torquent per conubia</a><a class="ps-post__morelink" href="blog-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-post">
                        <div class="ps-post__thumbnail"><img src="img/blog/home-blog-3.jpg" alt=""><a class="ps-post__overlay" href="blog-detail.html"></a></div>
                        <div class="ps-post__content">
                            <p class="ps-post__meta">March 31, 2019  by<a href="#"> Admin</a></p><a class="ps-post__title" href="blog-detail.html">Class aptent taciti sociosqu ad litora torquent per conubia</a><a class="ps-post__morelink" href="blog-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section__footer"><a class="ps-btn ps-btn--outline" href="#">View More</a></div>
    </div>
</div>
<div class="ps-section ps-home-book-table dark bg--cover" data-background="img/bg/home-2/book-table.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                <form class="ps-form--book-your-table" action="#" method="get">
                    <div class="ps-form__header">
                        <h4>Chikery Cake</h4>
                        <h3>Book your table</h3>
                    </div>
                    <div class="ps-form__content">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Number of People">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Date">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Time">
                        </div>
                    </div>
                    <div class="ps-form__footer">
                        <button class="ps-btn">Book Now</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                <div class="ps-section__header">
                    <p>Chikery Store</p>
                    <h3>Upcoming Event</h3>
                </div>
                <div class="ps-section__content">
                    <div class="ps-block--upcomming-event">
                        <div class="ps-block__content">
                            <h4>Simple Crusty Bread</h4>
                            <h5>TUESDAY 12/04/2018, 7:00AM</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Curabitur sed turpis feugiat viverra metus.</p>
                        </div>
                        <div class="ps-block__footer">
                            <ul class="ps-countdown" data-time="December 30, 2029 24:00:00">
                                <li>
                                    <span class="hours"></span>
                                    <p>Hours</p>
                                </li>
                                <li>
                                    <span class="minutes"></span>
                                    <p>Mins</p>
                                </li>
                                <li>
                                    <span class="seconds"></span>
                                    <p>Seconds</p>
                                </li>
                            </ul><a class="ps-btn" href="#">Reverse now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@